.bullet__container {
  display: flex;
  overflow: auto;
}

.bullet__container::-webkit-scrollbar {
  height: 4px;
}

.bullet__container::-webkit-scrollbar-track,
.bullet__container::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #FFD7DE;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
}

.bullet__container::-webkit-scrollbar-thumb {
  background-color: #DB6679;
}

.bullet__item {
  margin: 8px;
}

.bullet__item--title {
  text-align: center;
}

.bullet__item, .bullet__item--image {
  width: 80px;
  min-width: 80px;
}

.bullet__item--link {
  text-decoration: none;
}

